%h2 活动通
%div(style="background:#F5F5F5" class="modal fade in")
  .nav-header
    %h4 用户登录
    .right
      =link_to  "用户注册",register_path
  %br
  %br
  %div(class="index-new" style="text-align:center;")
    %div(class="input-prepend" )
      = form_for :session,:url => "/shows/show/#{params[:code]}" do |f|
        = f.label '帐  号',:class=>"add-on"
        = f.text_field :name
        %br
        %br
        = f.label "密  码",:class=>"add-on"
        = f.text_field :password ,:type=>"password"
        %div(style="text-align:center;")
          %br
          = f.submit "登  录", class: "btn btn-primary"
    -if @err == 'true'
      .btn-danger.active 用户名或者密码不正确
    .btn-danger.active
      =flash[:notice0]
  .nav-header
    .right
      =link_to  "忘记密码", reset_key1_check_account_path

  %br
