= render 'header'
%div(style="background:#F5F5F5;padding:8px")
  =link_to '首页',:action => 'manage_index'
  %lable /修改用户密码
%div( class="modal1 grey position-")
  %br
  %br
  %div(class="index-login center ")
    .input-prepend
      .add-on
        %span 用 户 帐 号
      %input(type="text" placeholder=@name   disabled)
    =form_for(:user) do |f|
      .input-prepend
        = f.label :'请设置密码' ,:class=>"add-on"
        = f.text_field :password ,:type=>"password",:placeholder=>"请输入新密码"
      .input-prepend
        = f.label :'请确认密码' ,:class=>"add-on"
        = f.text_field :password_confirmation ,:type=>"password",:placeholder=>"请再次输入"
      -if @new_user.errors.any?
        .btn-danger.active
          = @new_user.errors.full_messages.first
      %div(style="text-align:center;")
      %br
        = f.submit "确认修改", class: "btn btn-primary"
