%h2 活动通
%div(class="modal fade in grey")
  = render 'modify_password_header'
  %div(class="index-login" style="text-align:center;")
    =form_for(:user) do |f|
      .input-prepend
        = f.label :'请设置密码' ,:class=>"add-on"
        = f.text_field :password ,:type=>"text",:placeholder=>"请输入新密码"
      %br
      .input-prepend
        = f.label :'请确认密码' ,:class=>"add-on"
        = f.text_field :password_confirmation ,:type=>"text",:placeholder=>"请再次输入"
      %br
      -if @user.errors.any?
        .btn-danger.active
          = @user.errors.full_messages.first
        %br
      %div(style="text-align:center")
        = f.submit "确认修改", :class=> "btn btn-primary"
      %br